form {
  margin: 9%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(128, 255, 0, 0.747);
}

label, select, button {
  margin-top: 3px;
  margin-left: 33%;
}
